<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>BuildMachineOSBuild</key>
    <string>16G29</string>
    <key>CFBundleDisplayName</key>
    <string>Check-Ins</string>
    <key>CFBundleExecutable</key>
    <string>Check-Ins</string>
    <key>CFBundleIconFile</key>
    <string>Check-Ins.icns</string>
    <key>CFBundleIdentifier</key>
    <string>com.planningcenteronline.check-ins</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Check-Ins</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.3.2</string>
    <key>CFBundleVersion</key>
    <string>1.3.2</string>
    <key>DTSDKBuild</key>
    <string>14D125</string>
    <key>DTSDKName</key>
    <string>macosx10.1010.10</string>
    <key>DTXcode</key>
    <string>0821</string>
    <key>DTXcodeBuild</key>
    <string>8C1002</string>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.9.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSMainNibFile</key>
    <string>MainMenu</string>
    <key>NSPrincipalClass</key>
    <string>AtomApplication</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>checkins</string>
        <key>CFBundleTypeRole</key>
        <string>Viewer</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>checkins</string>
        </array>
      </dict>
    </array>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2017 Planning Center</string>
    <key>AsarIntegrity</key>
    <string>{"checksums":{"app.asar":"/op7K3qouD/jwJ2gmDLQdn2VcC9NNZYQQJBlMvncEnd4/JY4c5IPxHnRGs7o4BuqI5Qf7q1dI5a4Gw2pLeMpRg==","electron.asar":"N8qMkArPe2Vz78otrpXE3aNxOfCVyD1sqLzLTkMM5HY6Di2N/zv+HQhnv0+XjE/PttdJYymWUm+D0oj39WbLiA=="}}</string>
  </dict>
</plist>